* {
  font-family: CenturyGothicBlackRegular;
  font-display: auto;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'CenturyGothicBlack';
  src: url('../assets/fonts/century-gothic/CenturyGothicPaneuropeanBlack.ttf');
}

@font-face {
  font-family: 'CenturyGothicBlackItalic';
  src: url('../assets/fonts/century-gothic/CenturyGothicPaneuropeanBlackItalic.ttf');
}

@font-face {
  font-family: CenturyGothicBlackRegular;
  src: url('../assets/fonts/century-gothic/CenturyGothicPaneuropeanRegular.ttf');
}

body {
  background: url('../assets/background-page.webp');
  background-size: cover;
  background-repeat: no-repeat;
}

/* Cambios del scroll */

body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #000;
}

body::-webkit-scrollbar-thumb {
  background: #dc815d73;
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #dc815de0;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
