@keyframes moveLeftToRight-1 {
  0% {
    transform: translate(-30%, 0);
  }

  100% {
    transform: translate(300%, 40%);
  }
}

@keyframes moveLeftToRight-2 {
  0% {
    transform: translate(-35%, 0);
  }

  100% {
    transform: translate(300%, 40%);
  }
}

@keyframes moveLeftToRight-3 {
  0% {
    transform: translate(-40%, 0);
  }

  100% {
    transform: translate(500%, 50%);
  }
}

@keyframes upVideo {
  0% {
    transform: translate(0, -20%);
  }

  100% {
    transform: translate(0, 0);
  }
}

.sectionVideo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 700px;
  padding-bottom: 5rem;
  background: url('../assets/video/cinta-roja.png');
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: right;
  background-position: 180%;
  overflow: hidden;
}

.sectionVideo-misil-1 {
  position: absolute;
  left: -5%;
  width: 8%;
  height: 8%;
  background-image: url('../assets/video/misil-1.png');
  background-repeat: no-repeat;
  background-size: contain;
  animation: moveLeftToRight-1 5s linear infinite;
}
.sectionVideo-misil-2 {
  position: absolute;
  top: 20%;
  left: -10%;
  width: 10%;
  height: 10%;
  background-image: url('../assets/video/misil-2.png');
  background-repeat: no-repeat;
  background-size: contain;
  animation: moveLeftToRight-2 5s linear infinite;
}

.sectionVideo-misil-3 {
  position: absolute;
  top: 30%;
  left: -5%;
  width: 6%;
  height: 6%;
  background-image: url('../assets/video/misil-3.png');
  background-repeat: no-repeat;
  background-size: contain;
  animation: moveLeftToRight-3 5s linear infinite;
}

.sectionVideo-misil-4 {
  position: absolute;
  top: 50%;
  left: 2px;
  width: 12%;
  height: 12%;
  background-image: url('../assets/video/misil-4.png');
  background-repeat: no-repeat;
  background-size: contain;
  animation: moveLeftToRight-1 5s linear infinite;
}

.sectionVideo-misil-5 {
  position: absolute;
  top: 40%;
  left: 2px;
  width: 11%;
  height: 11%;
  background-image: url('../assets/video/misil-5.png');
  background-repeat: no-repeat;
  background-size: contain;
  animation: moveLeftToRight-2 5s linear infinite;
}

.sectionVideo-puntos {
  position: absolute;
  bottom: 0rem;
  background-image: url('../assets/video/puntos.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 40%;
  height: 5rem;
  z-index: 5;
}

.sectionVideo-background {
  background: url('../assets/video/lambre.png');
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: 1rem;
}

.sectionVideo-container img {
  display: block;
}

.sectionVideo-container div:nth-child(2) {
  grid-column: 2 / 3;
  align-self: center;
}

.sectionVideo-video-container {
  display: grid;
  grid-template-columns: 90% 10%;
  grid-template-rows: 83% auto;
  align-items: center;
  position: relative;
  height: 100%;
}

.sectionVideo-video-background {
  position: absolute;
  background-image: url('');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
}

.sectionVideo-video {
  position: absolute;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  align-self: end;
  justify-self: center;
  width: 35vw;
  height: 18vw;
  border-radius: 8px;
  padding-bottom: 5px;
  animation: upVideo 2s linear;
}

.sectionVideo-text {
  grid-row: 2 / 3;
  margin: 0 auto;
  width: 60%;
  align-self: start;
}

.sectionVideo-container div:nth-child(2) img:nth-child(2) {
  max-width: 40vw;
}

@media (max-width: 1280px) {
  .sectionVideo-video {
    width: 40vw;
    height: 25vw;
  }
}

@media (max-width: 900px) {

  .sectionVideo-container {
    height: 400px;
    padding-bottom: 2rem;
  }

  .sectionVideo-video-container {
    grid-template-columns: 100%;
    width:100%;
    height: 100%;
  }

  .sectionVideo-video {
    width: 50%;
    height: 80%;
  }

  .sectionVideo-video-background {
    display: none;
  }

  .sectionVideo-text {
    width: 90%;
  }

}

@media (max-width: 500px) {
  .sectionVideo-container {
    height: 50vh;
  }

  .sectionVideo-video {
    width: 95%;
    height: 75%;
  }

  .sectionVideo-text {
    margin: 0 auto;
    width: 90%;
    height: 60%;
  }
}